* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.remove{
    float: right;
    clear: both;
    margin-right: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    padding: 0em;
    margin: 0em;
}

.thead {
    margin: 5px;
    background-color: #825F77;

}

.thead th {
    font-size: 16px;
    color: #F9FAFC;
    font-family: Helvetica, sans-serif;
}

tbody tr {
    background-color: #F9FAFC;
    font-family: Helvetica, sans-serif;
}

.sem {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    text-align: center;
    font: bold 22px Helvetica, sans-serif;
    color: #1A535C;
}

button.remove {
    color: #464646;
    background-color: inherit;
    border: 0px;
    padding: 0;
    font-size: 100%;
}

div.box {
    border: dotted 0.025em rgb(172, 164, 169);
    width: 50%;
    float: left;
    padding: 10px;
}

.year{
    text-align: center !important;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    color:  purple;
}

.btnSuccess{
    color: rgba(253, 145, 174, 1);;
    background-color: inherit;
    border: 0px;
    padding: 0;
    font-size: 100%;

}

td{
    vertical-align: middle !important;
}