*{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    padding: 0em;
    margin: 0em;
}

.sem{
    color: brown;
    text-align: center;
    font: bold 22px Helvetica, sans-serif;    
}

div.box{
    /* border: solid 1px black; */
    width: 50%;
    float: left;
    padding: 10px;
    }