<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>Course Planner</title>
</head>

<body class = "container-fluid">
<!--problems:
1. inserting in a new course refreshes the whole page and redirects to the top of the page
2. if there is no course and i click on the add course button, i do not get an error message
-->  
    <a href="/">
        <button type="button" class="btn btn-secondary">All Students</button>
    </a>
    <div>
        <img src={{student_info['image_link']}}/>
    </div>
     <div>
        <h1 class = "mainheading"> Course Planner for {{student_info['name']}} </h1>
        <hr> <br>
        {% if message %}
            <div class="alert alert-success" role="alert">{{message}}</div>
        {% endif %}
        {% if removed %}
            <div class="alert alert-warning" role="alert">{{removed}}</div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}
    </div>

    {% if student_info['years'] %}
    {% for each_year in student_info['years'] %}
    <form class = "form-inline" method="POST">

        <h3 class = "year" >Year {{each_year}}</h3> 
        <button class = "btn btn-primary px-2" type="submit" name="remove_year" value=" Remove  {{each_year}} "> Remove  {{each_year}} </button>
    </form>

    {% for each_sem in range(3) %}
        {% if each_sem == 0 %}
            <h4 class = "sem">Fall</h4>
            {% set term = 'fall' %}
        {% elif each_sem == 1 %}   
            <h4 class = "sem">Spring</h4>
            {% set term = 'spring' %}
        {% else %} 
            <h4 class = "sem">Summer</h4>
            {% set term = 'summer' %}
        {% endif %}
    <table style = "width: 60%;"class = "table table-sm table-hover table-bordered">
        <thead class = "thead-light">
            <tr>
                <th style="width: 10%;">C_No</th>
                <th style="width: 40%;">Course name</th>
                <th style="width: 10%;">Credits</th>
                <th style="width: 10%;">Category</th>
                <th style="width: 30%;">Action</th></th>
            </tr>
        </thead>
        <tbody>
        <form method="POST">

            {% for course_taken in student_info[each_year][term] %}
            <tr>
                <td>{{course_taken['c_number']}}</td>
                <td>{{course_taken['c_name']}}</td>
                <td>{{course_taken['c_credits']}}</td>
                <td>{{course_taken['c_category']}}</td>
                <td><button class = "btn btn-danger"type="submit" name="remove" value="Remove {{course_taken['c_number']}} for {{term}} in {{each_year}}">Remove</button></td>
            </tr>
            {% endfor %}
        </form>
        
            <tr>
                <form method="POST">
                    <td style = "width: 10%"> 
                        <input list="c_number" autocomplete="off" type="text" name="c_number" placeholder="select"> 
                            <datalist id="c_number">
                                {% for course_number in course_numbers%}
                                    <option value= {{course_number}}>
                                {% endfor %}
                            </datalist>    
                    </td>
                    <td style = "width:40%">
                        <input list="c_name" autocomplete="off" type="text" name="c_name" placeholder="select">
                            <datalist id="c_name">
                                {% for course_name in course_names%}
                                    <option value= "{{course_name}}">
                                {% endfor %}
                            </datalist>
                    </td>                                
                    <td style = "width: 10%;"><input type="text" name="c_credits" autocomplete="off" placeholder="select"></td>
                    <td style = "width: 10%;"><input type="text" name="c_category" autocomplete="off" placeholder="select"></td>
                    <td style = "width: 30%;">
                        <button class = "btn btn-success" type="submit" name="add_course" value="Add to {{term}} in {{each_year}}">Add</button>
                    </td>
                </form>     
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endfor %}
    {% endif %}
    </div>

    <form method= "POST" >
        <input type="text" name="new_year" autocomplete="off" placeholder="Enter year">
        <input type="submit" name="year" value="Add a year">
    </form>

<!-- bootstrap script tags-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>

    