<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <script src="https://kit.fontawesome.com/24ecbe8bd3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <a href="/courses">
        <button type="button" class="btn btn-secondary">Courses Database</button>
    </a>
    <h1>All Students</h1>
    {% if message %}
        <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    <table class = "table table-sm table-hover table-bordered">
        <thead class = "thead-light">
            <tr>
                <th scope="col">USC ID</th>
                <th scope="col">Name</th>
                <th scope="col">Program</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <form class="form" method="POST">
            {% for student_info in students_info %}
                <tr scope = "row">
                    <td><a href={{student_info['usc_id']}}>{{student_info['usc_id']}}</a></td>
                    <td>{{student_info['name']}}</td>
                    <td>{{student_info['major']}}</td>
                    <td><button style="width:90%" class=" remove" type="submit" name="remove"
                        value="{{student_info['usc_id']}}"><i
                            class="fas fa-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}
        </form>
    </table>
        <form class="form" method="POST" style="padding:50px;">

            <h5>Add new student:</h5>

            <input type="text" name="name" placeholder="Enter Name" required>

            <input list="year_of_joining" type="text" name="year_of_joining" placeholder="Enter Year Of Joining" required>
            <datalist id="year_of_joining">
                {% for year in ["2010-2011", "2011-2012", "2012-2013", "2013-2014", "2014-2015", "2015-2016", "2016-2017", "2017-2018", "2018-2019", "2019-2020", "2020-2021", "2021-2022", "2022-2023", "2023-2024", "2024-2025", "2025-2026", "2026-2027", "2027-2028", "2028-2029", "2029-2030"]%}
                    <option value="{{year}}">
                {% endfor %}
            </datalist>

            <input type="number" name="usc_id" placeholder="Enter USC ID" required>

            <input list="major_names" autocomplete="off" type="text" name="major" placeholder="Select Major" required>
                <datalist id="major_names">
                    <option value="Brain Cognitive Sciences">
                    <option value="Developmental Psychology">
                    <option value="Social Psychology">
                    <option value="Quantitative Psychology">
                </datalist>

            <button class="btnSuccess" type="submit" name="new_student">Submit</button>
        </form>

</body>
<!-- bootstrap script tags-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>