<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Petitioned Courses</title>
    <script src="https://kit.fontawesome.com/24ecbe8bd3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

    <body>

        <a href="/">
            <button type="button" class="btn btn-secondary">Students Database</button>
        </a>    
        <a href="/{{ref_number}}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>    


        <iframe height="1000px" width="90%" src="https://docs.google.com/spreadsheets/d/1yskwsCURERCt3_1IZT6EOZIRvOfMTQ_No9C7PiKkQ9g/edit?usp=sharing?widget=true&amp;headers=false"></iframe>

    </body>

</html>